Redirect /cal /height_calculator
Redirect /calc /height_calculator
Redirect /calculator /height_calculator
Redirect /hcalc /height_calculator
Redirect /hcal /height_calculator

RewriteEngine on
RewriteCond %{HTTP_HOST} ^old\.chocorot\.net [NC]
RewriteRule ^(.*)$ https://chocorot.net/$1 [L,R=301]
